
.column{
    display:inline-block;
    vertical-align: top;
    width:20%;
}

.row{
width:600px;

}

.login-button, .remember-checkbox{
    display: block;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.errors{
    color:red;
}

